.paper {
  margin-bottom: 35px;
  height: auto;
  padding: 45px 50px;
  border-radius: 15px;
  display: flex;
}

.content {
  display: inline-block;
  width: 50%;
}

.items {
  padding: 25px 50px;
}

.referralInfoContainer {
  border-left: 2px solid #84ced4;
  display: inline-block;
  width: 50%;
  float: right;
  height: 100%;
}

.referralInfoContent { 
  padding: 0px 50px; 
}