.headerSize {
  font-size: 40px;
}

.statisticBox {
  padding-left: 5%;
  padding-right: 5%;
}

.underlineBlue {
  border-bottom: 2px solid #4bc0c0;
}

.underlinePurple {
  border-bottom: 2px solid #9400d3;
}

.underlineOrange {
  border-bottom: 2px solid #ff7f50;
}

.underlineBlack {
  border-bottom: 2px solid #15152b;
}

.virticalWritting {
  width: 100px;
  margin: 0 auto;
  line-height: 16px;
}

.statSubBox {
  width: 200px;
  padding: 5px 0 5px 10px;
  border: 1px solid rgb(211, 205, 205);
  border-radius: 7px;
  box-shadow: 3px 1px rgb(211, 205, 205);
}

.chartBox {
  width: 75%;
}

.setBottomHeight {
  margin-bottom: -10px;
}

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
}
