.chatContainer {
  height: 100%;
  width: 25%;
  border-left: 1px solid black;
  background-color: white;
}

.chatInput {
  height: 95px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px -1px 100px 1px rgba(50, 50, 50, 0.75);
}

.chatHistory {
  /* height: calc(100% - 95px - 50px); */
  height: calc(100% - 95px);
  overflow-y: scroll;
  border-bottom: 2px solid black;
}

.chatMessage {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;
}

.chatAvatar {
  height: 50px;
  margin-left: 10px;
  width: 50px;
  border: 1px solid;
  border-radius: 10px;
}

.chatMessage > div {
  word-wrap: break-word;
  max-width: calc(100% - 70px);
  /* padding:10px; */
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

button.chatSubmitButton {
  position: absolute;
  right: 15px;
  padding: 0;
  font-size: 10px;
  margin-right: 0;
}

div.chatInfoContainer {
  width: 100%;
  height: 50px;
  background-color: #428fe6;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
}

span.chatInfoName {
  /* position: absolute;
    left: 25.24%;
    right: 32.38%;
    top: 38.89%;
    bottom: 34.44%; */

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
  color: white;
}

.chatContent {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.messageUserName {
  font-weight: bold;
}
