:root {
  --theme_color: #8fe0e7;
  --button_color: #2ca4e3;
  --button_hover_color: #4893ba;
}

html {
  font-size: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
}

main {
  padding: 10px;
}

.link {
  margin: 2px 5px;
}

.link:hover {
  opacity: 0.5;
}

.logout:hover {
  opacity: 0.5;
}

input {
  border: 0;
}

button:disabled {
  opacity: 0.5;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 45%;
  margin: 2em auto;
  padding: 10px;
  position: relative;
  box-shadow: 2px 5px 5px #888888;
}

.content-box h1 {
  font-weight: 400;
  font-size: 3em;
  margin: 0.2em 0 0.1em;
}

label {
  font-weight: 300;
  margin: 0 1px 0;
  font-size: 1.5em;
}

.content-box input {
  border-bottom: 1px solid #000;
  font-size: 1em;
  padding: 5px 1px;
  margin-top: 0.1em;
}

.contant-submit {
  background-color: var(--button_color);
  width: 20%;
  border-radius: 5px;
  margin-right: 5%;
}

.contant-submit:hover {
  background-color: var(--button_hover_color);
}

.flexbox {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

}

.white {
  color: #fff;
}