# Used for deployment to a server where we are getting images from Docker Hub
# Overlay ontop of base config with:
#    $ export IMAGE_TEST="v2022-05-20.ABCD1234"
#    $ docker compose -f docker-compose.yml -f docker-compose.deploy.yml up -d
# Set IMAGE_TAG to the image desired, such as:
#     dev
#     staging
#     vYYYY-MM-DD.SHA
#                                                 
# It includes the following containers:           
#  - Flask (extended, running using prod server)  
#  - MySQL (extended)                             
#  - Caddy                                        

version: "3.9"
services:
    flask:
        image: drbfraser/cradle_platfrom-backend:$IMAGE_TAG
        restart: always
        command: gunicorn -c ./prod/gunicorn.conf.py app:app
        volumes:
            - flask_logs:/home/myflask/logs
    mysql:
        restart: always
    caddy:
        container_name: cradle_caddy
        image: drbfraser/cradle_platfrom-revproxy_frontend:$IMAGE_TAG
        build:
            context: .
            dockerfile: caddy/Dockerfile
        restart: always
        volumes:
            - caddy_data:/home/caddyUser/data   # persist certificates
        environment:
            - DOMAIN=${DOMAIN}
            - API_HOSTNAME=cradle_flask
        ports:
            - 80:80
            - 443:443

volumes:
    flask_logs:
    caddy_data: