#########################################
# This is the base Docker file          #
# It includes the following containers: #
#  - Flask                              #
#  - MySQL                              #
#########################################

version: "3.9"
services:
    flask:
        container_name: cradle_flask
        build:
            context: ./server
        volumes:
            - flask_uploads:/uploads
        environment:
            PORT: 5000
            DB_HOSTNAME: cradle_mysql
            DB_PORT: 3306
            DB_NAME: cradle
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
            LIMITER_DISABLED: ${LIMITER_DISABLED:-False}
            EMULATOR_PHONE_NUMBER: ${EMULATOR_PHONE_NUMBER:-+1-123-456-7890}
        depends_on: 
            - mysql
    mysql:
        container_name: cradle_mysql
        image: mysql:5.7
        volumes:
            - mysql_data:/var/lib/mysql
        environment:
            MYSQL_DATABASE: cradle
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}

volumes:
    flask_uploads:
    mysql_data:
