########################################################################
# This is the development Docker file                                  #
#                                                                      #
# It overrides the base file with development setup; specifically it:  #
#   - runs the Flask development server                                #
#   - creates a container to run npm in (for the front end; disabled)  #
#   - can run PHPMyAdmin (graphical MySQL interface; commented out)    #
########################################################################

version: "3.9"
services:
    flask:
        command: python app.py
        volumes:
            - ./server:/usr/src/server
        ports:
            - 5000:5000
    # NOTE: npm has performance issues inside Docker
    #       therefore, best to run outside Docker (for now)
    # frontend:
    #     image: node:14.11.0-alpine3.12
    #     tty: true                  # keep it running
    #     ports:
    #         - 3000:3000
    #     volumes:
    #         - ./client:/var/www
    #     working_dir: /var/www
    #     command: npm start
    #     environment: 
    #         CHOKIDAR_USEPOLLING: "true"
    # NOTE: If you'd like a decent graphical user interface
    #       to look at our MySQL database and run queries,
    #       uncomment this (don't commit the change!)
    #       Access it at localhost:33080
    # phpmyadmin:
    #     image: phpmyadmin/phpmyadmin:latest
    #     ports:
    #         - "33080:80"
    #     environment:
    #         PMA_HOST: cradle_mysql
    #         PMA_USER: ${DB_USERNAME}
    #         PMA_PASSWORD: ${DB_PASSWORD}
    mysql:
        ports:
            - 3306:3306