.centerize {
    align-content: center;
}

.card {
    width: 98%;
    height: auto;
}

.infoCard {
    width: 100%;
    margin: 10px;
}

.bpCard {
    width: 47%;
    margin: 15px 0;
    float: left;
}

.bpField {
    margin: auto;
    width : 350px;
    text-align: right;
}

.symptomCard {
    min-width: 450px;
    width: 47%;
    margin: 15px 0;
    float: right;
}

.flexBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
}

.contentRight {
    float: right;
    margin: 20px;
}

.urineTestSwitch {
    float: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}