.centerize {
    align-content: center;
}

.infoCard {
    width: 95%;
}

.bpCard {
    width: 35%;
    margin: 20px;
}

.symptomCard {
    width: 40%;
    margin: 20px;
}

.formStyle {
    padding: 20px;
    border: 1px solid rgb(211, 205, 205);
    border-radius: 5px;
    box-shadow: 3px 1px rgb(211, 205, 205);
}

.flexBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentRight {
    position: relative;
    left: 85%;
}