.centerize {
    align-content: center;
    padding-top: 8%;
}

.buttonStyle {
    width: 350px;
    height: 80px;
}

.patientText {
    font-size: 33px;
    position: relative;
    left: 8px;
}

.reading {
    font-size: 33px;
    position: relative;
    top: -68px;
    left: 15px;
}

.exitPatient {
    font-size: 16px;
    position: relative;
    top: -56px;
    left: 16px;
}

.iconStyle {
    top: 23px;
}

.iconBgStyle {
    background-color: rgba(0,0,0,0.05);
    position: relative;
    top: -12px;
    left: -65px;
    height: 80px;
    width: 80px;
}