{
    # Global Config options.

    # Debug Mode (Verbose logging if enabled).
    {$CADDY_DEBUG}

    # ACME Certificate Authority endpoint. 
    # (Should be set to Let's Encrypt's staging endpoint for development and testing.
    # Unset the environment variable for production and it will default to the production
    # endpoints for ZeroSSL and Let's Encrypt. 
    # https://caddyserver.com/docs/caddyfile/options#acme-ca
    acme_ca {$CADDY_ACME_CA}

    # Email address must be provided in order to use ZeroSSL as Certificate issuer.
    email icradle2020@gmail.com 



    # Logging.
    log caddy-runtime {
        output file /var/log/runtime.log {
            roll_keep_for 60d
        }
        format json
        level INFO
        exclude http.log.access
    }
}


{$DOMAIN} {
    encode gzip

    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
    }

    handle /api/* {
        reverse_proxy {$API_HOSTNAME}:5000
    }

    handle {
        root * /var/www

        # If there is a 404, serve index.html (required for React)
        try_files {path} index.html
        
        file_server
    }

    log {
	    output file /var/log/access.log {
            roll_keep_for 60d
        }
        format json
        level INFO
    }
}
