.container {
  background-color: lightblue;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -14px -24px -24px -24px;
}

.content {
  margin: 0 auto;
}

.createRoomHidden {
  background: transparent;
  margin-inline-end: 15px !important;
}

.createRoom {
  background: #ababad;
  margin-inline-end: 15px !important;
}

.enterRoomHidden {
  background: transparent;
}

.enterRoom {
  background: #ababad;
}
