[Unit]
Description=uWSGI instance to serve cradleplatform
After=network.target

[Service]
User=vinsonl
Group=admin
WorkingDirectory=/var/www/cradleplatform/server
Environment="PATH=/var/www/cradleplatform/server/venv/bin"
ExecStart=/var/www/cradleplatform/server/venv/bin/uwsgi --ini cradleplatform.ini

[Install]
WantedBy=multi-user.target