.titleText {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 36px
};

.sidebarText {
  font-family: Open Sans;
  font-weight: 300px;
  font-size: 18px;
};

.iconContainer { 
  margin-left: auto;
  margin-right: 0;
}

.div {
  margin-block-start: 50px;
}

.img {
  width: 75%;
}

.main {
  padding-block-start: 50px;
}